@{
    ViewData["Title"] = "Home Page";
}
<div class="greetings">Hi, welcome to my website!</div>
<hr />
<br />
<br />
<div class="Container">
    <div class="text-content">
        <p class="Greet">I am </p>
        <p class="Name">Kate <br />Ashley <br />Valdez</p>
        <p class="Course">
            I am taking <b>BS in Information Technology (BSIT).</b>
        </p>
        <p class="section">Section <b>BSIT-32E1</b></p>

    </div>

    <div class="image">
        <img src="~/img.png" alt="My Picture" class="circle-image">
    </div>
</div>

