@{
    ViewData["Title"] = "School Page";
}

<div>
    <p class="greetings">
        Here's my schedule for this subject,
    </p>
    <h1>IT Elective 3</h1>
    <hr />
    <div>
        <center>
        <table cellspacing="10" style="border: 5px solid black; padding: 20px; background-color: peachpuff; width: 400px;">
            <tr>
                <th style="background-color:#cd5c5c; padding: 25px; color: white; font-size: 30px;">Face-to-Face Schedule</th>
            </tr>

            <tr>
                <td>
                    Saturday
                </td>
            </tr>

            <tr>
                <td>
                    7:00 am - 10:00 am
                </td>
            </tr>
        </table>
        </center>
    </div>
    <br />
    <br />
    <div>
        <center>
            <table cellspacing="10" style="border: 5px solid black; padding: 20px; background-color: peachpuff; width: 400px;">
                <tr>
                    <th style="background-color:#cd5c5c; padding: 25px; color: white; font-size: 30px;">Asynchronouos Schedule</th>
                </tr>

                <tr>
                    <td>
                        Thursday
                    </td>
                </tr>

                <tr>
                    <td>
                        1:00 pm - 3:00 pm
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>